In [23]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [24]:
urls_array=["https://www.basketball-reference.com/leagues/NBA_1990_totals.html"
           ,"https://www.basketball-reference.com/leagues/NBA_1995_totals.html"
           ,"https://www.basketball-reference.com/leagues/NBA_1999_totals.html"
           ]
##, "https://www.basketball-reference.com/leagues/NBA_1992_per_poss.html",
    ##        "https://www.basketball-reference.com/leagues/NBA_1995_per_poss.html",     
      ##     "https://www.basketball-reference.com/leagues/NBA_1997_per_poss.html","https://www.basketball-reference.com/leagues/NBA_1999_per_poss.html",
        ##   "https://www.basketball-reference.com/leagues/NBA_2008_per_poss.html", "https://www.basketball-reference.com/leagues/NBA_2012_per_poss.html",
          ## "https://www.basketball-reference.com/leagues/NBA_2015_per_poss.html","https://www.basketball-reference.com/leagues/NBA_2017_per_poss.html",
           ##"https://www.basketball-reference.com/leagues/NBA_2021_per_poss.html"]
players=list()
age_s=list()
p3_s=list()
p3a_s=list()
p3p_s=list()
p2_s=list()
p2a_s=list()
p2p_s=list()
ft_s=list()
fta_s=list()
ftp_s=list()
orb_s=list()
drb_s=list()
ast_s=list()
blk_s=list()
tov_s=list()
pts_s=list()

In [25]:
for url in urls_array:
    html = requests.get(url)
    soup = BeautifulSoup(html.content, "html.parser")
    table = soup.find('table')
    table_rows = table.find_all('tr')
    index=0
    for tr in table_rows:
        td = tr('td')
        row = [tr.text.strip() for tr in td if tr.text.strip()]
        if row:
            players.append(row[0])
            age_s.append(row[2])
            p3_s.append(row[10])
            p3a_s.append(row[11])        
            p3p_s.append(row[12])
            p2_s.append(row[13])
            p2a_s.append(row[14])
            p2p_s.append(row[15])
            ft_s.append(row[17])
            fta_s.append(row[18])
            ftp_s.append(row[19])
            orb_s.append(row[20])
            drb_s.append(row[21])
            ast_s.append(row[23])

    for i in range(0,len(p2p_s)):
        if (p2p_s[i][0]!="."):
            p2p_s[i]=999
            
        
    for i in range(0,len(p3p_s)):
        if (p3p_s[i][0]!="."):
            p3p_s[i]=999
    
    
    
        #if(p2p_s[index][0]!='.'):
         #   p2p_s[index]="9999"
        #if(p3p_s[index][0]!='.'):
         #   p3p_s[index]="9999"
        
        #index+=1

TypeError: 'int' object is not subscriptable

In [26]:
    df = pd.DataFrame({"Player Name":players,"AGE":age_s,"3P":p3_s,"3PA":p3a_s,"3P%":p3p_s,"2P":p2_s,"2PA":p2a_s,"2P%":p2p_s,"FT":ft_s,"FTA":fta_s,"FT%":ftp_s,"ORB":orb_s,"DRB":drb_s,"AST":ast_s})
    df.drop_duplicates(subset='Player Name', keep='first', inplace=True)
    
    df = df.loc[df["2P%"] != 999]
    df.shape
    df = df.loc[df["3P%"] != 999]
    df.shape

df

,Player Name,AGE,3P,3PA,3P%,2P,2PA,2P%,FT,FTA,FT%,ORB,DRB,AST
0,Mark Acres,27,3,4,.750,135,281,.480,83,120,.692,154,277,67
1,Michael Adams,27,158,432,.366,240,557,.431,267,314,.850,49,176,495
2,Mark Aguirre,30,31,93,.333,407,805,.506,192,254,.756,117,188,145
3,Danny Ainge,30,108,289,.374,398,865,.460,222,267,.831,69,257,453
4,Mark Alarie,26,10,49,.204,361,736,.490,108,133,.812,151,223,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
902,Trevor Wilson,26,0,0,18,40,.450,.450,14,.786,10,16,26,4
904,Dontonio Wingfield,20,2,12,.167,16,39,.410,8,10,.800,11,19,3
906,David Wood,30,31,91,.341,122,235,.519,91,117,.778,83,158,65
907,Randy Woods,24,22,74,.297,15,43,.349,28,38,.737,10,34,134
909,Sharone Wright,22,0,8,.000,361,768,.470,182,282,.645,191,281,48