In [174]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [191]:
urls_array=[
            "https://www.basketball-reference.com/leagues/NBA_1980_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_1983_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_1985_totals.html"
           ,"https://www.basketball-reference.com/leagues/NBA_1988_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_1990_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_1992_totals.html"
           ,"https://www.basketball-reference.com/leagues/NBA_1995_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_1997_totals.html"
           ,"https://www.basketball-reference.com/leagues/NBA_1999_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_2001_totals.html"
          ,"https://www.basketball-reference.com/leagues/NBA_2003_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_2005_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_2008_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_2010_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_2012_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_2015_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_2017_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_2019_totals.html"
            ,"https://www.basketball-reference.com/leagues/NBA_2021_totals.html"
           ]

urls_2_array=[
               "https://www.basketball-reference.com/international/fiba-world-cup/2010_totals.html"
                ,"https://www.basketball-reference.com/international/fiba-world-cup/2014_totals.html"
                ,"https://www.basketball-reference.com/international/fiba-world-cup/2019_totals.html"
                ,"https://www.basketball-reference.com/international/cba-china/2012_totals.html"
                ,"https://www.basketball-reference.com/international/cba-china/2014_totals.html"
                ,"https://www.basketball-reference.com/international/cba-china/2016_totals.html"
                ,"https://www.basketball-reference.com/international/cba-china/2018_totals.html"
                ,"https://www.basketball-reference.com/international/cba-china/2020_totals.html"
                ,"https://www.basketball-reference.com/international/eurocup/2003_totals.html"
                ,"https://www.basketball-reference.com/international/eurocup/2005_totals.html"
                ,"https://www.basketball-reference.com/international/eurocup/2007_totals.html"
                ,"https://www.basketball-reference.com/international/eurocup/2009_totals.html"
                ,"https://www.basketball-reference.com/international/eurocup/2011_totals.html"
                ,"https://www.basketball-reference.com/international/eurocup/2013_totals.html"
                ,"https://www.basketball-reference.com/international/eurocup/2015_totals.html"
                ,"https://www.basketball-reference.com/international/eurocup/2017_totals.html"
                ,"https://www.basketball-reference.com/international/eurocup/2019_totals.html"
    
]


players=list()
#age_s=list()
p3_s=list()
p3a_s=list()
p3p_s=list()
p2_s=list()
p2a_s=list()
p2p_s=list()
ft_s=list()
fta_s=list()
ftp_s=list()
orb_s=list()
drb_s=list()
ast_s=list()

In [192]:
for url in urls_array:
    html = requests.get(url)
    soup = BeautifulSoup(html.content, "html.parser")
    table = soup.find('table')
    table_rows = table.find_all('tr')
    for tr in table_rows:
        td = tr('td')
        row = [tr.text.strip() for tr in td if tr.text.strip()]
        if row:
            players.append(row[0])
            #age_s.append(row[2])
            p3_s.append(row[10])
            p3a_s.append(row[11])        
            p3p_s.append(row[12])
            p2_s.append(row[13])
            p2a_s.append(row[14])
            p2p_s.append(row[15])
            ft_s.append(row[17])
            fta_s.append(row[18])
            ftp_s.append(row[19])
            orb_s.append(row[20])
            drb_s.append(row[21])
            ast_s.append(row[23])


    for i in range(0,len(p2p_s)):
        if (str(p2p_s[i])[0]!="."):
            p2p_s[i]=999
            
    for i in range(0,len(p3p_s)):
        if (str(p3p_s[i])[0]!="."):
            p3p_s[i]=999

In [193]:
for url2 in urls_2_array:
    html2 = requests.get(url2)
    soup2 = BeautifulSoup(html2.content, "html.parser")
    table2 = soup2.find('table')
    table_rows2 = table2.find_all('tr')
    for tr in table_rows2:
        
        th2=tr('th')
        row2 = [tr.text.strip() for tr in th2 if tr.text.strip()]
        if row2:
            players.append(row2[0])
            
        td2 = tr('td')
        row = [tr.text.strip() for tr in td2 if tr.text.strip()]
        if row:
            p3_s.append(row[6])
            p3a_s.append(row[7])        
            p3p_s.append(row[8])
            p2_s.append(row[9])
            p2a_s.append(row[10])
            p2p_s.append(row[11])
            ft_s.append(row[13])
            fta_s.append(row[14])
            ftp_s.append(row[15])
            orb_s.append(row[16])
            drb_s.append(row[17])
            ast_s.append(row[19])

    players.remove('Player')
            
    for i in range(0,len(p2p_s)):
        if (str(p2p_s[i])[0]!="."):
            p2p_s[i]=999
            
    for i in range(0,len(p3p_s)):
        if (str(p3p_s[i])[0]!="."):
            p3p_s[i]=999

In [194]:
    df = pd.DataFrame({"Player Name":players,"3P":p3_s,"3PA":p3a_s,"3P%":p3p_s,"2P":p2_s,"2PA":p2a_s,"2P%":p2p_s,"FT":ft_s,"FTA":fta_s,"FT%":ftp_s,"ORB":orb_s,"DRB":drb_s,"AST":ast_s})
    df.drop_duplicates(subset='Player Name', keep='first', inplace=True)
    
    df = df.loc[df["2P%"] != 999]
    df.shape
    df = df.loc[df["3P%"] != 999]
    df.shape  
    df

,Player Name,3P,3PA,3P%,2P,2PA,2P%,FT,FTA,FT%,ORB,DRB,AST
3,Tiny Archibald*,4,18,.222,379,776,.488,361,435,.830,59,138,671
20,Henry Bibby,11,52,.212,240,574,.418,226,286,.790,65,143,307
21,Larry Bird*,58,143,.406,635,1320,.481,301,360,.836,216,636,370
54,M.L. Carr,12,41,.293,350,722,.485,178,241,.739,106,224,156
59,Don Chaney,1,6,.167,66,183,.361,32,42,.762,31,42,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16123,Victor Rudd,13,36,.361,22,51,.431,10,14,.714,7,23,8
16124,Vincenzo Guaiana,0,1,.000,0,0,.000,0,1,1,2,0,0
16130,Vladislav Trushkin,16,39,.410,30,54,.556,7,7,1.000,15,24,11
16131,Vukota Pavic,3,10,.300,10,25,.400,7,15,.467,13,11,2
16133,William Howard,30,66,.455,28,50,.560,24,30,.800,13,37,35